<%- include("partials/head") %>
    <%- include("partials/navbar.ejs") %>


        <div class="container">
            <h1>Browsing the <%= name %> subreddit</h1>
            <h2>
                <%= description %>
            </h2>
            <h2>
                <%= subscribers %> Total Number of Subs
            </h2>
            <% for(let p of posts){%>
                <h3>
                    <%= p.title %> - <b>
                            <%= p.author %>
                        </b>
                </h3>
                <% if(p.img){ %>
                    <img src="<%= p.img %>" alt="">
                    <%}%>
                        <%}%>

        </div>
        <%- include("partials/footer") %>